.project_box_container {
    width: 550px;
    margin: 20px;
}
.project_box_image_container > img {
    width: 550px;
}
.project_box_description_container {
    padding: 0 10px;
}
.project_box_title {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    color: red;
}
.project_box_sentences_container > p, .project_box_link {
    font-size: 19px;
}
.project_box_link > span {
    color: red;
    font-weight: 700;
}
.project_box_link > a {
    color: white;
}