.navbar_container {
    background-color: black;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar_left {
    font-size: 26px;
    font-weight: 700;
    color: red;
}
.navbar_right {
    display: flex;
}
.navbar_right > a {
    margin-left: 20px;
    margin-right: 20px;
    padding: 8px 10px;
    font-size: 18px;
    text-decoration: none;
    color: white;
}
.navbar_right > a:hover {
    background-color: gray;
    cursor: pointer;
    border-radius: 8px;
} 