.ex_card_container {
    width: 45%;
    padding: 8px 14px;
    background-color: #181818;
    box-shadow: -8px 8px 8px 0px lightslategray;
    margin: 0 15px;
    margin-top: 50px;
}
.ex_card_title {
    text-align: center;
    font-size: 38px;
    font-weight: 600;
}
.ex_card_subtitle {
    font-size: 28px;
}
.ex_card_sentence {
    font-size: 19px;
}
.ex_card_tech_used_title {
    text-align: center;
    font-size: 28px;
    font-weight: 600;
}
.ex_card_icon_images_container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.ex_card_icon_images_container > img {
    height: 50px;
    margin: 0 9px;
    padding-bottom: 20px;
}